
@{
    Layout = "~/Views/Shared/_layout1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div> 
        hii about
    </div>
</body>
</html>
