
@{
    Layout = "~/Views/Shared/_layout1.cshtml";    
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>help</title>
</head>
<body>
    <div> 
        hepl page
    </div>
</body>
</html>
