
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> this is home index view
    </div>
 
        <a href="/employee/index">student - Index</a> <br />
        <a href="/student/index">student-index</a>
    
</body>
</html>
