
<h1>about</h1>
@Session["msg"]

<ul>
    @{
    foreach (var item in (string[])Session["rray"])
    {
      <li>@item</li>
    }
    }
</ul>

<ul>
    @{
        foreach (var item in (List <string> )Session["list"])
        {
            <li>@item</li>
        }
    }
</ul>